
/* Header CSS */

header {
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  h1 {
    color: rgb(232, 43, 201);
    }
  
  h2 {
    color: rgb(51, 232, 43);
  }
  
  h3 {
    color: rgb(3, 20, 146);
  }
}